body {
	height:100%;
}
.main-wrapper {
	height:100vh;
	padding-top:56px;
}
.navbar {
	height:56px;
}
.navbar-collapse {
	background-color: rgb(52, 58, 64);
	padding:20px;
}
#navbarTogglerDemo03 {
	display:none !important;
}
#navbarTogglerDemo03.show {
	display:block !important;
}

.signout {
	font-size:30px;
	color:white;
	text-align:right;
}
.navbar > div{
	width:100%;
}

.dashboard-row {
	height:100%;
}
.sidebar {
	box-shadow:0 0 10px 0 #c7c7c7;
	padding:0 !important;
}
#home .card {
    width: 100%;
    margin: auto;
    max-width: 960px;
    margin-top: 20px;
    overflow: hidden;
    border-top: 0px;
}

#home table {
 margin:0;
}
.table thead {
	background-color:#046fa6;
	color:white;
}
.table thead th {
	font-weight:400;
}
.sidebar ul{
	height:100%;
}
.sidebar .nav-item {
	border-left: 4px solid white;
	padding: 10px 0;
	color:#dedede;
	height:8.3%;
	border-bottom: 1px solid #dadada;
	display: flex;
    align-items: center;
}
.sidebar .nav-item a{
color:#484848;
}
.sidebar .nav-item svg{
color:#046fa6;
}
.sidebar .nav-item:nth-child(-n + 2):hover{
	border-left: 4px solid #ddd;
	background-color: #ddd;
}
.sidebar .nav-item.active {
	border-left: 4px solid #046fa6;
    background-color: #eeeeee;
}
#feedback form{
	width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 50px;
    margin-top: 20px;
}
#rownoneoption {
	justify-content: center;
    align-items: center;
    display: flex;
}